#maincontainer {
    display: flex;
    flex-direction: row;
}


#sub1 {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid red; */
}

#sub2 {
    position: fixed;
    margin-top: 77px;
    right: 0;
    top: 0;
    width: 25%;
    height: 70vh;
    border: 2px solid black;
    padding: 30px;

}

.filters {
    margin-bottom: 50px;
}

#elems {
    width: 300px;
    height: 400px;
    padding: 10px;
}


#img img {
    width: 300px;
    height: 270px;
    /* border: 2px solid black; */

}

.cart a button {
    width: 100%;
    font-size: 20px;
}