body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
    text-align: center;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}

.card-title {
    font-size: 22px;
    margin: 10px 0;
}

.card-image img {
    max-width: 100%;
    border-radius: 5px;
}

.card-cart {
    margin: 10px 0;
}

.card-cart button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.card-cart button:hover {
    background-color: #218838;
}

.card-rating-price {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card-price,
.card-rating,
.card-count {
    font-size: 16px;
}

.card-description {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}